.gallery {
  width: 100%;
  max-width: 80rem;
  padding-block: 2.5rem 2rem;
  margin-inline: auto;

  & header {
    text-align: center;
    
  }

  & header span {
    font: var(--font-span);
  }

  & img {
    width: 100%;
    height: auto;
  }

  & .content {
    margin-top: 2rem;
    display: grid;
    gap: 2.5rem;      
    grid-template-areas: 
      "a b b"
      "c c d";

  }

  & figure {
    position: relative;
    border-radius: 2.5rem;
    overflow: hidden;
    line-height: 0;

    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: 100px 300px;

    &[data-delay] {
      animation-range: 150px 350px;
    }


    &[data-delay="true"] {
      animation-delay: 1s;
    }



    & > img {
      height: 25rem;
      object-fit: cover;
      transition: scale 0.4s ease-in-out;
    }


    &:hover {
      & > img {
        scale: 1.1;
      }

      & figcaption {
        transform: translateY(0);
      }
    }

    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }
  }
    
  & figcaption {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    color: white;

    font: var(--font-span);
    
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 1.5rem 2rem;

    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    background: linear-gradient(
        to top,
        rgb(0 0 0 / 0.64),
        rgb(0 0 0 / 0)
    );

    & > img {
      width: 2rem;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

}