*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --snitap-sun: #FFCD1E;
  --snitap-sky-mid: #06B6D4;
  --snitap-sky-light: #67E8F9;
  --snitap-joy-mid: #DB2777;
  --snitap-joy-light: #F472B6;
  --snitap-leaf-mid: #16A34A;

  /* Base Colors */
  --text: #000000;
  --highlights: #000000;
  --background: #FAFAFA;

  /* Typography */
  --font-h1: 700 64px/125% 'Syne', 'sans-serif';
  --font-h2: 700 40px/120% 'Syne', 'sans-serif';
  --font-btn: 500 16px/150% 'Montserrat', 'sans-serif';
  --font-span: 500 14px/150% 'Montserrat', 'sans-serif';
  --font-html: 500 16px/150% 'Montserrat', 'sans-serif';

  /* Font Families */
  --ff-base: 'Montserrat', 'sans-serif';

  /* Font Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 2.5rem;
  --text-xl: 4rem;
}

html {
  font: var(--font-html);
}

button {
  font: var(--font-btn);
}

span {
  font: var(--font-span);
}

h1 {
  font-size: var(--text-xl);
  font: var(--font-h1);
}


h2 {
  font-size: var(--text-lg);
  font: var(--font-h2);
}

a {
  color: inherit;
  text-decoration: none;
}








