header.top {
  max-width: 80rem;
  width: 100%;
  padding: 1.25rem 2rem;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  img {
    width: 2rem;
    height: 2rem;
    
    transition: transform 0.5s;
  }
  
  img[src*="assets/icons/logo.svg"]:hover {
    transform: rotate(30deg);
  }

  img[src*="assets/icons/shopping-bag.svg"]:hover {
    transform: rotate(30deg);
  }

  a {
    position: relative;
  }

  a span {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: var(--snitap-sun);

    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

  }
}
